---
layout: page
title: Home
---

<h1>Latest Posts</h1>

<div class="post-list">
    {% assign year = "" %}
    {% assign post_year = "" %}
    {% for post in site.posts %}
        {% assign post_year = post.date | date: "%Y" %}
        {% if post_year != year %}
        {% assign year = post_year %}
        <h2>{{ year }}</h2><span></span>
        {% endif %}
        <time>{{ post.date | date: "%d %B" }}</time>
        <div><a href="{{ post.url }}" title="#{{ forloop.rindex }}">{{ post.title }}</a></div>
    {% endfor %}
</div>