<head>
    <meta charset="utf-8">
    <meta content="Grahame Watt" name="author">
    <meta content="#fff" name="theme-color">
    <meta content="grahamegw" name="twitter:title">
    <meta content="" property="og:title">
    <meta content="https://grahamewatt.com/" property="og:url">
    <meta content="Stuff by Grahame Watt" name="description">
    <meta content="Stuff by Grahame Watt" name="twitter:description">
    <meta content="Stuff by Grahame Watt" name="og:description">
    <meta content="width=device-width,minimum-scale=1" name="viewport">
    <meta content="grahamewatt.com" property="og:site_name">
    <meta content="contact@grahamewatt.com" property="og:email">
    <meta content="blog" property="og:type">
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "CreativeWork","author": "Grahame Watt"}</script>
    <link href="https://grahamewatt.com/rss.xml" rel="alternate" type="application/rss+xml" title="grahamewatt.com">
    <link href="https://grahamewatt.com/atom.xml" rel="alternate" type="application/atom+xml" title="grahamewatt.com">
    <link href="/favicon.png" rel="icon" type="image/png">
    {% for entry in site.data.fonts.google %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ entry.font }}">
    {% endfor %}
    <!-- {% include style.html %} -->
    <link rel="stylesheet" href="/style.css">
    <title>Grahame Watt {% if page.title != "Articles" %} | {{page.title}}{% endif %}</title>
    <link href="https://twitter.com/grahamegw" rel="me">
    <link href="https://github.com/grahamegw" rel="me">
    <link href="https://grahamewatt.com/" rel="canonical">
    <link href="mailto:contact@grahamewatt.com" rel="me">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <!-- I like aside tags more than I care about not using jQuery -->
    <script src="/js/jQuery-min.3.6.0.js"></script>
    <script src="/js/asides.js"></script>
    <!-- Code prettifier -->
    <link rel="stylesheet" href="/highlights/atom-one-light.min.css">
    <script src="/highlights/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>