<style>
html {
    position: relative;
    min-height: 100%;
}

body {
    color:#111;
    margin:0 auto;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    line-height:1.6;
    font-size:1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: {{ site.data.fonts.google[0].font }}, sans-serif;
}

footer {
        border-top: 1px #aaa solid;
        position: relative;
        margin-top: auto;
        left: 25%;
        height: 65px;
        width: 50%;
        overflow: hidden;
        text-align: center;
        font-size: 0.8rem;
        -webkit-font-smoothing:antialiased;
        text-rendering:optimizeLegibility;
        color: #555;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000090;
    border-bottom: 1px solid #000090;
}

h1, h2, h3, h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0.5rem;
}

h1 {
    font-size: 1.875rem;
}

li {
    margin-bottom: 1.1rem;
}

nav h2 {
    font-size: 1.2em;
}

nav>ul {
   list-style-type: none; 
   padding: 0px;
   margin-top: 0px;
}

nav li {
    margin-bottom: 0px;
}
main {
    max-width: 640px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px #aaa solid;
}

main img {
    max-width: 640px;
}

.article-meta, .article-meta>p {
    border-bottom: 1px #aaa solid;
    text-align: right;
    font-size: 12px;
    margin: auto 0;
}

.post-list {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 0.35fr auto;
    margin-top: 4px;
}

.post-list>time {
    padding-left: 20px;
    padding-right: 40px;
    white-space: nowrap;
}

.only-print {
    display: none;
}

.pad20y {
    padding-top: 20px;
    padding-bottom: 20px;
}

pre {
    border: 1px solid #000;
    line-height: 1.05rem;
    font-size: 0.9rem;
}
pre>code {
    font-weight: initial;
}

code {
    color: #a626a4;
    font-weight: bold;
}

@media screen and (min-width:1025px){
    nav{
        position:absolute;
        top:42px;
        right:50%;
        margin-right:360px!important;
        padding-right: 40px;
    }

    aside {
        position: absolute;
        left: 50%;
        margin-left:360px!important;
        padding-left: 20px;
        max-width: 200px;
        font-size: 0.8rem;
        border-left: 3px solid #555
    }
}

figure {
    text-align: center;
}
figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
    color: #555;
}

.faint-border {
    border: 1px solid #ccc;
}

.post-nav {
    /* Insert your custom styling here. Example:

       font-size: 14px;
       margin-bottom: 1em;
    */
    display: flex;
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}
.post-nav-next {
    text-align: right;
}

.img-row {
  display: flex;
}

.img-column-50 {
  flex: 50%;
  padding: 5px;
}
</style>