body{
    color:#111;
    margin:0 auto;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    line-height:1.6;
    font-size:1rem;
    font-family:var(--sans-font)
}

.basepad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post-list {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 0.35fr auto;
}

.post-list>time {
    padding-left: 20px;
    white-space: nowrap;
}

.only-print {
    display: none;
}

@media screen and (min-width:1025px){
    .header{
        position:absolute;
        top:42px;
        right:50%;
        margin-right:340px!important;
    }
}