---
layout: page
---
<article>
    <h1>{{ page.title }}</h1>
    <div class="article-meta">
        <p>
            {% if page.tags.size > 0 %}
            {{ page.tags | sort | join: ", " }}
                / 
            {% endif %}
            {{ page.date | date: "%d %B %Y" }}</p>
    </div>
    <div class="article-content">  
        {{ content }}
    </div>
</article>
<div class="post-nav">
    <div>
      {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo;&nbsp;Previous</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">Next&nbsp;&raquo;</a>
      {% endif %}
    </div>
</div>
  
